<table class=" col-lg-6" loading="lazy">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Ім'я</th>
            <th>Призвище</th>
            <th>По батькові</th>
            <th>Стать</th>
            <th>Навички</th>
            <th>Дата народження</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList; let i = index">
            <td>{{i+1}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.userSurname}}</td>
            <td>{{user.userPatronymic}}</td>
            <td>{{user.userGender}}</td>
            <td>{{user.userSkills}}</td>
            <td>{{user.userBirthDate}}</td>
            <td><button class="btn btn-sm btn-success" [routerLink]="['/users/userEdit', user.userId]">Edit</button></td>
            <td><button class="btn btn-sm btn-secondary" (click)="deleteUser(user.userId)">Delete</button></td>
        </tr>
    </tbody>
</table>